.rp-add-item-button {
    margin-left: 28px;
    padding: 0;
    padding-top: 80px;
    width: 160px;
    height: 274px;
    border: solid 1px black;
    align-items: center;
    overflow-wrap: break-word;
}