.my-outfit-modal-pop-up-main {
    width: 160px;
    height: 116px;
    margin: -148px;
    transform: translateY(292px);
    border: solid 5px black;
    background-color: #212529;
}

.cancel-confirm {
    transform: translateX(25px);
}

.my-outfit-modal-pop-up-button {
    width: 65px;
    background-color: whitesmoke;
    border: solid 1px black;
    border-radius: 5px;
}