.rp-modal-my-outfit-are-you-sure-delete-text {
    font-size: 9px;
    color: whitesmoke;
}

.rp-modal-show-button {// to be deleted
    width: 27px;
    height: 27px;
}

.rp-modal-show-button:hover {// to be deleted
    width: 27px;
    height: 27px;
    color: #cb7119;;
}

.rp-modal-show-button:active {// to be deleted
    width: 27px;
    height: 27px;
    color: #cb7119;;
}