.rp-modal-my-outfit-are-you-sure-delete-text {
    font-size: 9px;
}

.rp-modal-show-button {// to be deleted
    width: 27px;
    height: 27px;
    border: solid 1px black;
    background-color: lawngreen;
}
