#cart {
    grid-column: 4;
    margin-top: auto;
    margin-bottom: auto;
    margin-right: -35%;
    margin-left: 5%;
}

#cart:hover {
    grid-column: 4;
    color: #cb7119;
    margin-top: auto;
    margin-bottom: auto;
    margin-right: -35%;
    margin-left: 5%;
}

// hover orange #cb7119