.category {
    font-size: 0.7em;
    color: #cb7119;
}

.image-gallery {
    background-color: #f5f5f5;
}

.price {
    font-size: 0.85em;
    color: #323639;
}

.product-info {
    background-color: #f5f5f5;
}

.product-name {
    font-size: 1.5em;
    color: #323639;
    font-weight: bold;
    margin-top: 0.1em;
    margin-bottom: 0.3em;;
}

.rating {
    font-size: 0.8em;
    color: #323639;
}

.review-link {
    color: #323639;
    font-size: 0.75em;
    margin: 0.7em;
}

.sale-price {
    font-size: 1em;
}

.share {
    background-color: #f5f5f5;
}
.share-text {
    font-size: 0.7em;
}

.strike-price {
    font-size: 0.8em;
    color: #cb7119;
}

.styles-all {
    width: 250px;
}

.style-pics {
    object-fit: cover;
    width: 50px;
    height: 50px;
    margin: 0.2em;
}

.select-checkmark {
    display: inline;
    margin-top: 0.4em;
}

[type=radio] { 
    position: relative;
    opacity: 0;
    width: 0;
    height: 0;
}

.style-pics:hover {
    opacity: .9;
    border: 0.2em solid #cb7119;
    cursor: pointer;
}

[type=radio]:checked{
    height: 2.5em;
}

.checkmark {
    font-size: 0.9em;
    color: #cb7119;
    position: absolute;
    display: none;
}

.style-container input:checked + .checkmark {
    display: inline-flex;
    position: absolute;
    margin: 0.1em;
}


.style-name {
    font-size: 0.85em;
    text-align: left;
}
