.category {
    font-size: 0.7em;
    color: #cb7119;
}

.description {
    font-size: 0.8em;
    color: #323639;
}

.description-features-share {
    background-color: #f5f5f5;
}

.image-gallery {
    background-color: #f5f5f5;
}

.list-checkmarks {
    padding-left:1.5rem;
}
.list-checkmarks li {
    list-style-type:none;
    padding-left:1rem;
}
.list-checkmarks li:before {    
    font-family: 'FontAwesome';
    content: "\f00c";
    margin:0 10px 0 -28px;
    color: #cb7119;
}

.price {
    font-size: 0.85em;
    color: #323639;
}

.product-info {
    background-color: #f5f5f5;
}

.product-name {
    font-size: 1.5em;
    color: #323639;
    font-weight: bold;
}

.rating {
    font-size: 0.8em;
    color: #323639;
}

.review-link {
    color: #323639;
    font-size: 0.75em;
    margin: 0.7em;
}

.sale-price {
    font-size: 1em;
}

.slogan {
    font-size: 1.1em;
    color: #323639;
    font-weight: bold;
}
.strike-price {
    font-size: 0.8em;
    color: #cb7119;
}

.style-pics {
    /* background-color: #323639; */
    object-fit: cover;
    /* width: 2.7em;
    height: 2.7em; */
    width: 50px;
    height: 50px;
    margin: 0.2em;
}

.style-pics:hover {
    opacity: .75;
    border: 0.2em solid #cb7119;
}

.style-name {
    font-size: 0.85em;
    text-align: left;
}

