.arrow {
  cursor: pointer;
  font-size: 1.3em;
  color: #cb7119;
}

.main-arrow {
  z-index: 3;
  cursor: pointer;
  color: #cb7119;
  font-weight: bold;
  font-size: 1.5em;
}

.arrow-left {
  transform: rotate(180deg);
  z-index: 3;
  position: absolute;
  // float: left;
  left: 10%;
}

.arrow-right {
  z-index: 3;
  position: absolute;
  // float: right;
  left: 87%;
}

.main-image {
  object-fit: cover;
  width: 100%;
  height: 75vh;
  z-index: 1;
}

.selected {
  border: 0.2em solid #cb7119;
}

.thumbnail {
  z-index: 2;
  object-fit: cover;
  width: 3.3em;
  height: 3.3em;
  margin: 5px;
  cursor: pointer;
  opacity: 80%;
  // padding-top: auto;
  // padding-bottom: auto;
}

.thumbnail-list {
  height: 75vh;
  z-index: 2;
  position: absolute;
}

.thumbnail-margin {
  position: relative;
  // height: 75vh;
  padding-top: 50%;
  padding-bottom: 50%;
}



