// .search {
//   max-width: 25%;
//   grid-column: 2;
// }

// .searchBtn {
//   grid-column: 3;
//   max-width: 25%;
//   background-color: #cb7119;
//   border-radius: 10px;
// }

// ============= Blink Code ===========
.searchContainer {
    grid-column: 3
}

.input {
//   grid-column: 2;
  padding: 3px;
  width: minmax(10% 15%);
  height: minmax(15px, 3vh);
  border: 3px solid whitesmoke;
  outline: none;
  border-radius: 7px;
}

.input:focus {
//   grid-column: 2;
  border: 3px solid #cb7119;
  transition: 0.75s ease-in-out;
  border-radius: 11px;
}

.searchBtn {
//   grid-column: 3;
  padding: 3px;
  width: minmax(17px, 15vw);
  height: minmax(5px, 3vh);
  background-color: #cb7119;
  border: 3px solid #cb7119;
  border-radius: 7px;
}

.searchBtn:focus {
  grid-column: 3;
  outline: 0;
  border-radius: 37px;
//   animation: blink 5s;
}

// @-webkit-keyframes blink {
//   /* 50% {
//     transform: scale(1, 0.01) rotateY(90deg);
//   } */
//   /* 20% {
//     transform:  rotateX(90deg) rotateY(-3deg);
//   } */
//   10% {
//     transform: rotateX(90deg);
//   }
//   80% {
//     transform: rotateX(0deg) rotateY(0deg);
//     background: url("tiger-eye.png") center;
//     color: white;
//     padding: 30px;
//     border: 3px solid #000000;
//     border-radius: 100%;
//     transform: scale(1, 0.75);
//   }
//   10% {
    // grid-column: 3;
//     padding: 3px;
//     width: minmax(37px, 25%);
//     height: minmax(15px, 3vh);
//     background-color: #cb7119;
//     border: 3px solid #cb7119;
//     border-radius: 7px;
//   }
// }
