.search {
    max-width: 75%;
    grid-column: 3;
}

.searchBtn {
    background-color: #cb7119;

}

// @-webkit-keyframes blink {
//     0%, 100% {
//         transform: scale(1, .05);
//     }
//     5%,
//     95% {
//         transform: scale(1, 1);
//     }
// }

