.rp-empty-card {
    margin-left: 28px;
    padding: 0;
    width: 160px;
    height: 274px;
    border: solid 1px black;
    align-items: center;
    overflow-wrap: break-word;
    // remove border (and text from .jsx file) when this is fully functioning so that it is just a blank card
}